header {
  background-color: rgb(4, 65, 120);
  box-shadow: 1px 1px 1px rgb(4, 65, 120);
}

.header-h1 {
  text-align: center;
  color: #ffff;
}

.search-bar-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.fa-magnifying-glass {
  margin-right: 0.75rem;
  color: #ffff;
}

#search {
  border: 1px solid lightgray;
  border-radius: 0.25rem;
  height: 1.75rem;
  width: 50%;
}
